*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Cairo,sans-serif;
}

body{

background:#080808;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:25px 8%;

background:#111;

}

.logo{

font-size:45px;

font-style:italic;

color:#ff0000;

}

nav a{

color:white;

text-decoration:none;

margin:20px;

transition:.3s;

}

nav a:hover{

color:#ff0000;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px 8%;

}

.hero h4{

color:#ff0000;

font-size:28px;

}

.hero h1{

font-size:70px;

margin:10px 0;

}

.hero span{

color:#ff0000;

}

.hero p{

line-height:35px;

font-size:22px;

max-width:650px;

}

.buttons{

margin-top:40px;

}

.buttons a{

display:inline-block;

padding:15px 35px;

border:2px solid red;

color:white;

text-decoration:none;

margin-left:15px;

border-radius:40px;

transition:.4s;

}

.buttons a:hover{

background:red;

}

.image img{

width:420px;

border-radius:50%;

border:5px solid red;

box-shadow:0 0 40px red;

}

.skills{

padding:80px;

text-align:center;

}

.skills h2{

font-size:40px;

margin-bottom:50px;

}

.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.card{

background:#141414;

padding:40px;

border-radius:15px;

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

border:1px solid red;

}

.card i{

font-size:50px;

color:red;

margin-bottom:20px;

}

.languages{

padding:80px;

text-align:center;

}

.languages h2{

font-size:40px;

margin-bottom:40px;

}

.icons{

display:flex;

justify-content:center;

gap:60px;

font-size:80px;

}

.html{

color:#E34F26;

}

.css{

color:#1572B6;

}

.js{

color:#F7DF1E;

}

.java{

color:#007396;

}

.php{

color:#777BB4;

}

.python{

color:#3776AB;

}

.icons i{

transition:.3s;

}

.icons i:hover{

transform:scale(1.2);

}
